main{
    padding-top:3.5rem;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-row-gap: 1rem;
}
.item{
    width:110px;
    height:200px;
   padding-bottom: 25px;
   padding-top:0;
   padding-left: 20px;
   padding-right: 20px;
    border-radius: 30px;
    text-align: center;
    flex-direction: column;
    display:flex;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.685);
    margin-bottom: 40px;
}
.item img{
  
    height:100px;
   
    border-radius: 50%;
    width:100px;
    margin-left:auto;
    margin-right: auto;
    margin-top:-40px;
    
}
.item-foot-desc{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.item-head-desc p{
    margin:0;
    margin-bottom: 0.8rem;
}
.item-head-desc{
    text-align:left;
    flex:1;
    margin-top:1rem;
    margin-bottom: 0.5rem;
    display:flex;
    flex-direction: column;
}
.head-desc-name{
    font-weight: 600;
    font-size:0.9rem;
    text-transform: capitalize;
    flex:1;
}
.head-desc-info{
    font-size:0.8rem;
}
.foot-desc-price{
    font-weight: 700;
}
@media(max-width:935px) {
    main{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(max-width:735px){
    main{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width:535px){
    main{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:335px){
    main{
        display:grid;
        grid-template-columns:  1fr;
    }
}